#mainBox {
    text-align:                 center;
    padding:                    30px;
    margin:                     0px auto;
}

#searchBox {
    width:                      300px;
    margin:                     20px 0 12px 30px;
}
#searchBox input {
    background-color:           #2b2735;
}
#searchBox input:focus {
    color:                      #000;
    background-color:           #fff;
}
#searchBox span {
    cursor:                     pointer;
    background-color:           #2b2735;
}
#searchBox span:hover {
    background-color:           #5C5866;
}
#searchBox span:active {
    background-color:           #9B99A0;
}
#searchBox i {
    color:                      var(--mainBlue);
}

#out_table {
    width:                      auto;
    text-align:                 left;
    margin:                     0px auto;
    padding:                    5px 15px;
}

#all_movie_table {
    border-collapse:            collapse;
    text-align:                 left;
    border-top:                 1px solid #fff;
}
th {
    border-bottom:              1px solid #fff;
    color:                      #F8D5AE;
    font-size:                  18px;
    font-weight:                normal;
    text-align:                 left;
    padding:                    10px 6px;
}
td {
    padding:                    11px 5px;
    font-size:                  18px;
}

.movieBox:nth-child(even) {
    background-color:           #2b2735;
}
.movieBox:hover {
    background-color:           #2a2e4b;
}

.movie_id {width: 52px;}
.movie_name {width: 350px;}
.name_eng {width: 410px;}
.watch_date {width: 110px;}
.score {width: 80px;}
.editBt {width: 40px;}
.deleteBt {width: 70px;}
.movie_id {
    color:                      var(--mainColor);
}
.movie_id, .watch_date, .score, .editBt, .deleteBt {
    text-align:                 center;
}
.movie_name, .name_eng {
    padding:                    0px 22px;
}
.watch_date {
    padding:                    0px 18px;
}
.editBt a i, .deleteBt a i {
    font-size:                  18px;
    color:                      var(--mainBlue);
    text-decoration:            none;
}
.editBt a i:hover {
    color:                      #FFFA5E;
}
.deleteBt a i:hover {
    color:                      #d9544f;
}


/*页底页码*/
#pages {
    text-align:                 right;
    margin-top:                 20px;
    margin-right:               30px;
}
.page_num {
    padding:                    6px 10px;       
    margin:                     0 3px;
    background-color:           #2b2735;   
    font-size:                  16px;
} 
#page_num_now {
    background-color:           #221d2b;
    cursor:                     default;
}
.page_num:hover:not(#page_num_now) {
    background-color:           #4E4C54;
}