
<!--
 *
 * 报表
 * 
 *
 * @date  2018.12.17
 * 
-->

<!DOCTYPE html>

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>电影记录管理系统</title>
        <link style="text/css" rel="stylesheet" href="css/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
        <link style="text/css" rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css" />
        <link style="text/css" rel="stylesheet" href="css/same.css" />
        <link style="text/css" rel="stylesheet" href="css/report.css" />
        <script type="text/javascript" src="script/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="script/vue.min.js"></script>
        <script type="text/javascript" src="script/same.js"></script>
        <script type="text/javascript" src="script/report.js"></script>
        <script type="text/javascript" src="script/jq22excel/excel/external/jszip.min.js"></script>
        <script type="text/javascript" src="script/jq22excel/excel/external/FileSaver.js"></script>
        <script type="text/javascript" src="script/jq22excel/excel/scripts/excel-gen.js"></script>
        <script type="text/javascript" src="script/jq22excel/excel/scripts/demo.page.js"></script>
    </head>

    <body>
        <div id="mainBox">
            <div id='pages'>
                <span><i class="fa fa-angle-left"></i></span>
                <span><i class="fa fa-angle-right"></i></span>
                <span>导出EXCEL</span>
                <span>按评分排序</span>
            </div>   
            <div id="paper">
                <div id="headline">
                    <img src="img/icon/label-icon.png" />
                    <span>Movie Report Form</span>
                </div>
                <table id='out_table' width='100%'><tr><td align='center' valign='middle'>
                    <table id='all_movie_table'>
                        <tr>
                            <th class='movie_id' style="width: 52px;">ID</th>
                            <th class='name_ch' style="width: 250px;">中文名</th>
                            <th class='name_en' style="width: 360px;">外文名</th>
                            <th class='category' style="width: 180px;">类型</th>
                            <th class='country' style="width: 110px;">国家</th>
                            <th class='released' style="width: 110px;">上映</th>
                            <th class='score' style="width: 70px;">评分</th>
                        </tr>
                        <tr v-for="mItem in mItems" class='movieBox' v-cloak>
                            <td class='movie_id'>{{mItem.record_id}}</td>
                            <td class='name_ch'>{{mItem.name_ch}}</td>
                            <td class='name_en'>{{mItem.name_en}}</td>
                            <td class='category'>{{mItem.category}}</td>
                            <td class='country'>{{mItem.country}}</td>
                            <td class='released'>{{mItem.released}}</td>
                            <td class='score'>{{mItem.score}}</td>
                        </tr>
                    </table>
                </td></tr></table>
            </div>     

            <!-- 为了导出excel用的完整表格 -->
            <table id='exportTable' style="display: none">
                <tr>
                    <th class='movie_id' style="width: 52px;">ID</th>
                    <th class='name_ch' style="width: 250px;">中文名</th>
                    <th class='name_en' style="width: 360px;">外文名</th>
                    <th class='category' style="width: 180px;">类型</th>
                    <th class='country' style="width: 110px;">国家</th>
                    <th class='released' style="width: 110px;">上映</th>
                    <th class='score' style="width: 70px;">评分</th>
                </tr>
                <tr v-for="allItem in allItems" class='movieBox' v-cloak>
                    <td class='movie_id'>{{allItem.record_id}}</td>
                    <td class='name_ch'>{{allItem.name_ch}}</td>
                    <td class='name_en'>{{allItem.name_en}}</td>
                    <td class='category'>{{allItem.category}}</td>
                    <td class='country'>{{allItem.country}}</td>
                    <td class='released'>{{allItem.released}}</td>
                    <td class='score'>{{allItem.score}}</td>
                </tr>
            </table>
        </div>
    </body>

</html>
